.emphasis {
  border-radius: 0.25rem;
  padding: 0.125rem;
}

.bold {
  font-weight: bold;
}

.green {
  color: var(--ifm-color-primary);
}

// :root[data-theme='light'] {
//   .green {
//     color: #fff;
//    color: var(--ifm-color-primary);
//   }
// }

// :root[data-theme='dark'] {
//   .green {
//     background-color: rgb(18 124 66);
//   }
// }
