.main__home {
  height: calc(100vh - 60px);
  // background-image: linear-gradient(80deg, transparent 40%, rgba(11, 247, 117, 0.026));
  // display: flex;
  .home__content {
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;

    aside {
      overflow: auto;
      // width: 60%;
      .slogan {
        font-size: 3.2rem;
        font-weight: bold;
        line-height: 1.25;
      }
    }

    .avatar {
      width: 60%;
      cursor: pointer;
      border-radius: 12px;
      transition: all ease-out 0.2s;
      img {
        width: 100%;
        border-radius: 20%;
        // border-radius: 12px;
        transition: all ease-out 0.2s;
        z-index: 1;
      }

      .author {
        color: rgba(113, 113, 113, 0.823);
        background-color: rgba(178, 178, 178, 0);
        height: 0;
        overflow: hidden;
        transition: all ease-out 0.2s;
        border-radius: 12px;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: fantasy;
        font-weight: bold;
      }

      &:hover {
        overflow: hidden;
        box-shadow: 10px 10px 60px -20px rgba(72, 131, 89, 0.5);
        img {
          border-radius: 12px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .author {
          height: 2.4rem;
          opacity: 1;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 997px) {
  .main__home {
    .home__content {
      :global {
        .col--3 {
          display: none !important;
        }
      }
      aside {
        overflow: auto;
        .slogan {
          font-size: 2.4rem;
        }
      }
    }
  }
}
