// 暗色主题
:root[data-theme='dark'] {
  #__docusaurus {
    nav.navbar {
      background-color: rgba(40, 40, 40, 0.6);
      .navbar__search-input {
        background-color: rgba(240, 240, 240, 0.2);
        outline-color: rgba(240, 240, 240, 0.2);
      }
      span[role='listbox'] {
        background-color: rgba(40, 40, 40, 0.2);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
      }
    }
    .main-wrapper {
      main {
        .theme-code-block {
          &:hover {
            box-shadow: 2px 4px 12px -4px #000000b6;
          }
        }
      }
      // 排除博客
      main[class^='docMainContainer']:not([itemscope]) {
        background-color: #18191c;
        // box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.25);
        // 面包屑
        nav.theme-doc-breadcrumbs {
          // background: linear-gradient(
          //   90deg,
          //   rgb(24, 25, 28) 0%,
          //   rgba(24, 25, 28, 0.8) 20%,
          //   rgba(24, 25, 28, 0.8) 80%,
          //   rgb(24, 25, 28) 100%
          // );
        }

        article {
          .theme-doc-markdown.markdown {
            img {
              filter: brightness(0.8); // 降低图片亮度
            }
          }
        }
      }
      // 全屏搜索
      input[type='search'][class^='searchQueryInput'] {
        background: #2f2f2f;
      }

      .pagination-nav {
        .pagination-nav__link {
          background-color: #1e2023;
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
          &:hover {
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
