// 暗色主题
:root[data-theme='dark'] {
  #__docusaurus {
    nav.navbar {
      background-color: rgba(45, 45, 45, 0.6);
      .navbar__search-input {
        background-color: rgba(240, 240, 240, 0.2);
        outline-color: rgba(240, 240, 240, 0.2);
      }
    }
    .main-wrapper {
      // 排除博客
      main:not([itemscope]) {
        background-color: #18191c;
      }

      .pagination-nav {
        .pagination-nav__link {
          background-color: #1e2023;
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
          &:hover {
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
