//移动端
@media screen and (max-width: 996px) {
  :root {
    --nav-menu-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgNDQ4IDUxMiI+PHBhdGggZD0iTTAgOTZDMCA3OC4zIDE0LjMgNjQgMzIgNjRINDE2YzE3LjcgMCAzMiAxNC4zIDMyIDMycy0xNC4zIDMyLTMyIDMySDMyQzE0LjMgMTI4IDAgMTEzLjcgMCA5NnpNMCAyNTZjMC0xNy43IDE0LjMtMzIgMzItMzJINDE2YzE3LjcgMCAzMiAxNC4zIDMyIDMycy0xNC4zIDMyLTMyIDMySDMyYy0xNy43IDAtMzItMTQuMy0zMi0zMnpNNDQ4IDQxNmMwIDE3LjctMTQuMyAzMi0zMiAzMkgzMmMtMTcuNyAwLTMyLTE0LjMtMzItMzJzMTQuMy0zMiAzMi0zMkg0MTZjMTcuNyAwIDMyIDE0LjMgMzIgMzJ6Ii8+PC9zdmc+');
    --button-close-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMzg0IDUxMiI+PHBhdGggZD0iTTM0Mi42IDE1MC42YzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zcy0zMi44LTEyLjUtNDUuMyAwTDE5MiAyMTAuNyA4Ni42IDEwNS40Yy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMHMtMTIuNSAzMi44IDAgNDUuM0wxNDYuNyAyNTYgNDEuNCAzNjEuNGMtMTIuNSAxMi41LTEyLjUgMzIuOCAwIDQ1LjNzMzIuOCAxMi41IDQ1LjMgMEwxOTIgMzAxLjMgMjk3LjQgNDA2LjZjMTIuNSAxMi41IDMyLjggMTIuNSA0NS4zIDBzMTIuNS0zMi44IDAtNDUuM0wyMzcuMyAyNTYgMzQyLjYgMTUwLjZ6Ii8+PC9zdmc+');
  }

  #__docusaurus {
    & > .navbar.navbar--fixed-top {
      & > .navbar__inner {
        & > .navbar__items {
          & > button.navbar__toggle.clean-btn {
            &::after {
              content: ' ';
              display: inline-block;
              width: 2rem;
              height: 1.6rem;
              background-image: var(--nav-menu-icon);
              background-size: 1.4rem 1.4rem;
              background-repeat: no-repeat;
              background-position: center;
              filter: var(--ifm-menu-link-sublist-icon-filter);
            }
            & > svg {
              display: none;
            }
          }
        }
      }
    }
    // 修复移动端侧边导航栏样式问题
    .navbar-sidebar__backdrop {
      min-height: 100vh;
    }
    .navbar {
      .navbar-sidebar {
        min-height: 100vh;
        .navbar-sidebar__item.menu {
          // hide-scrollbar
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
          &::-webkit-scrollbar {
            display: none; /* Chrome, MSEdge, Safari and Opera */
          }
        }
        // close button
        & > .navbar-sidebar__brand {
          button.clean-btn.navbar-sidebar__close {
            &::after {
              content: ' ';
              display: inline-block;
              width: 1rem;
              height: 1rem;
              background-image: var(--button-close-icon);
              background-size: 1.4rem 1.4rem;
              background-repeat: no-repeat;
              background-position: center;
              opacity: 0.6;
              filter: var(--ifm-menu-link-sublist-icon-filter);
            }
            & > svg {
              display: none;
            }
          }
        }
        ul.theme-doc-sidebar-menu.menu__list {
          & > li.theme-doc-sidebar-item-category {
            & > .menu__list-item-collapsible {
              & > button.clean-btn.menu__caret {
                padding-right: 8px;
                padding-left: 8px;
                &::before {
                  background-size: 1.4rem 1.4rem;
                  opacity: 0.6;
                }
              }
            }
          }
        }
      }
    }

    // table of contents
    .theme-doc-toc-mobile {
      button.clean-btn {
        &::after {
          background-size: 1.4rem 1.4rem;
          opacity: 0.6;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #__docusaurus {
    nav.navbar {
      .navbar__search {
        // 搜索按钮
        input.navbar__search-input {
          &:focus {
            background-color: var(--mobile-search-background);
          }
        }
      }
    }
  }
}
