.highlight {
  border-radius: 4px;
  padding: 2px 4px;
}

:root[data-theme='light'] {
  .green {
    color: #fff;
    background-color: var(--ifm-color-primary);
  }
  .red {
    color: #fff;
    background-color: #e05935;
  }
}

:root[data-theme='dark'] {
  .green {
    color: #fff;
    background-color: rgb(18 124 66);
  }
  .red {
    color: #fff;
    background-color: #ae4023;
  }
}
